#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}


/* Hero Container */
.hero-container {
  width: 100vw;
  height: 100vh; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: -460px;
}

/* Hero Banner Image */
.hero-container .heroBanner1 {
  width: 90%;
  height: 60%;
  object-fit: cover;
}

@media screen and (min-width:375px) {
  .hero-container {
    width: 100vw;
  height: 100vh; 
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-top: -360px;
  }
}

/* Social Media Icons */
.social-icons {
  position: absolute;
  left: 20px; /* Adjust left positioning */
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px; /* Spacing between icons */
}

.social-icons img {
  width: 30px; /* Adjust icon size */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.cardScroll{
  overflow: hidden;
  overflow-x: scroll;
}



@media screen and (min-width:375px) {
  .singleCard {
  position: relative;
  display:block;
  align-items: center;
  justify-content: center;
  
  }
}